<%= form_with(model: entity) do |form| %>
  <% if entity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

      <ul>
        <% entity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="home-input">
    <div class="field">
      <%= form.text_field :name, required:true, placeholder: 'Name' %>
    </div>

    <div class="field">
      <%= form.number_field :amount, step: "0.01", required:true, placeholder: 'Amount' %>
    </div>
  </div>

  <h2 class="select-category">Select Categories</h2>
  <p style="font-size: 12px; text-align: center; margin:0; font-style: italic ">User can select more than one category</p>
  <p style="font-size: 12px; text-align: center; margin:0 0 20px 0; font-style: italic ">Previeous category already selected</p>

  <div class="select-cont">
    <%= form.select :category_ids, @categories.map { |category| [category.name, category.id, selected: @category_id == category.id] }, {include_blank: false}, { multiple: true, required: true} %>
  </div>
  <%= form.hidden_field :category_id, value: @category_id %>

  <div class="create-category-btn">
    <%= form.submit 'Create Transaction' %>
  </div>
<% end %>
