<div id="<%= dom_id category %>">
  <p>
    <img src="<%= category.icon%>" class='category-icon'>
  </p>
  <p>
    <strong>Name:</strong>
    <%= category.name %>
    $<%= category.entities.sum(:amount)%>
  </p>
    <small><%= category.created_at.strftime("%d %b %Y") %></small>
    <p><%= button_to "Delete category", category, method: :delete %></p>
</div>
