<% if(user_signed_in?) %>
  <%= button_to "Sign out", destroy_user_session_path, :method => :delete, data: {turbo: false}, class: "hover home-inner"%>
<% end %>
<p style="color: green"><%= notice %></p>
<%= Category.total_amount(current_user.id)%>
<h1>Categories</h1>
<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>
<div class="height"></div>
<%= link_to "Add a new category", new_category_path, class: 'add-category-btn' %>
